# Binaries and build artifacts
*.dll
*.pdb
*.exe
*.cache
*.user
*.log
*.vspscc
*.vssscc
*.suo
*.sdf
*.dbmdl
*.bak
*.dylib
*.so

# Rider and VS Code
.idea/
.vscode/

# Build folders
**/bin/
**/obj/

# Test results
TestResults/
*.coverage
*.coveragexml

# NuGet packages
*.nupkg
packages/
.nuget/

# Temporary files
*.tmp
*.temp
*.swp
*.lock

# Others
.fake/
/.vs/CopilotSnapshots
/.vs/DevHobby
/.vs/DevHobby
/.vs
/.vs
