*.dll
*.pdb
*.cache
*.dylib
*.so
*.user
/RPG.Application/bin
/RPG.Application/obj
/RPG.UnitTest/bin
/RPG.Core/obj
/RPG.UnitTest/obj
/RedisWormUp/bin
/RedisWormUp/bin
/RedisWormUp/obj
/RPG.Application/obj
/RPG.CLI/bin
/RPG.CLI/obj
