*.dll
*.pdb
*.cache
*.dylib
*.so
*.user
/RPG.Application/bin
/RPG.Application/obj
/RPG.UnitTest/bin
/RPG.Core/obj
/RPG.UnitTest/obj
/RedisWormUp/bin
/RedisWormUp/bin
/RedisWormUp/obj
/RPG.Application/obj
/RPG.CLI/bin
/RPG.CLI/obj
/RPG.Domain/obj
/RPG.Domain/bin
/RPG.GameServer/bin
/CricuitBraker/obj
/RPG.Core/bin
/RPG.Core/bin
